# Compiled binaries
*.lib
*.exe
*.dll
*.a
*.o
*.d
*.so
*.obj
*.tlog
*.log
*.pdb
*.buildstate


*.idea/

# Folders
intermediates/
bin/
docs/

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs

*.user

!dependencies/Premake/premake5.exe
