# Compiled binaries
*.lib
*.exe
*.dll
*.a
*.o
*.so
*.obj
*.tlog
*.buildstate

*.idea/

# Folders
intermediates/
bin/

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs

*.user

!dependencies/Premake/premake5.exe